{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    Lista de Produtos
{% endblock %}

{% block main %}
    <div class="card card-table">
        <div class="card-header">
            Lista de Produtos
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th style="width:30%;">Produto</th>
                    <th style="width:30%;">Descrição</th>
                    <th style="width:30%;">Valor</th>
                    <th style="width:30%;">Editar</th>
                    <th style="width:30%;">Deletar</th>
                </tr>
                </thead>
                <tbody>
                {% for produto in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'detail_produto' produto.id %}">{{ produto }}</a>
                        </td>
                        <td>{{ produto.descricao }}</td>
                        <td>R$ {{ produto.valor }}</td>
                        <td>
                            <a class="btn btn-secondary" href="{% url 'edit_produto' produto.id %}">Editar</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="{% url 'delete_produto' produto.id %}">Deletar</a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        {% if page_obj.has_other_pages %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ page_obj.previous_page_number }}"
                                               tabindex="-1">Anterior</a>
                                        </li>
                                    {% endif %}
                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                            <li class="page-item active">
                                                <div class="page-link">{{ i }}</div>
                                            </li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ i }}">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ page_obj.next_page_number }}">Próxima</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    </td>
                </tr>

                </tfoot>
            </table>
            <div class="m-4">
                <a href="{% url 'create_produto' %}" class="btn btn-info"> Cadastrar Produto </a>
            </div>
        </div>

    </div>





{% endblock %}